name: Auto Deploy

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 获取源码
      - name: Checkout
        uses: actions/checkout@v4
      # 4. 部署到服务器（可选）
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-rltgoDzvO --delete'
          EXCLUDE: ".git*, .github*, tests, __pycache__, *.pyc, *.pyo, *.log, .DS_Store, node_modules, public, .env, data/, docker-compose.yml"
          SOURCE: ./
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.DEPLOY_DIR }}
          SCRIPT_BEFORE: |
            cd ${{ secrets.DEPLOY_DIR }} && rm -rf venv
          SCRIPT_AFTER: |
            cd ${{ secrets.DEPLOY_DIR }} && bash scripts/check_and_deploy.sh